body {
  font-family: andale mono, courier new, courier;
}
th {
  text-align: right;
}
td {
  text-align: center;
  width: 32px;
}
td .destination {
  font-size: 10px;
}
.green {
  background-color: #aaeeaa;
}
.blue {
  background-color: #aaaaee;
}
.yellow {
  background-color: #eeeeaa;
}
.red {
  background-color: #ee88aa;
}
.orange {
  background-color: #eeaa88;
}
table#to_sfo td.highlighted {
  background-color: #ff0;
}
table#to_dub td.highlighted {
  background-color: #f80;
}
td.future, td.empty {
  opacity: 0.2;
}
tr.hidden {
  display: none;
}
.btn {
  color: #fff;
  border-radius: 2px;
  padding: 2px;
  font-size: 0.75em;
  line-height: 1em;
  margin: 2px;
  cursor: pointer;
}
