:ruby
  stations = %w(16th civc powl mont)

!!!

%html
  %head
    %title Bortapp
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{content: 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;', name: 'viewport' }
    %style{type: 'text/css'}= File.read('./bart.css')
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}

  %body
    %table
      %tbody#stations
        - stations.each do |station|
          %tr
            %th= station
            - 20.times.each do
              %td .
    #data{data: {stations: stations}}
    %script= File.read('./bart.js')
