body {
  font-family: andale mono, courier new, courier;
}
th {
  text-align: right;
}
td {
  text-align: center;
  width: 32px;
}
td .destination {
  font-size: 10px;
}
td.green {
  background-color: #aaeeaa;
}
td.blue {
  background-color: #aaaaee;
}
td.yellow {
  background-color: #eeeeaa;
}
td.red {
  background-color: #ee88aa;
}
td.orange {
  background-color: #eeaa88;
}
table#to_sfo td.highlighted {
  background-color: #ff0;
}
table#to_dub td.highlighted {
  background-color: #f80;
}
td.future, td.empty {
  opacity: 0.2;
}
tr.hidden {
  display: none;
}
