body {
  font-family: andale mono, courier new, courier;
}
th {
  text-align: right;
}
td {
  white-space: nowrap;
  text-align: center;
  width: 32px;
}
td .dest, td .dest-all {
  font-size: 10px;
}
td .dest-all {
  display: none;
}
th.loading {
  background-color: #444;
  color: #fff;
}
th.error {
  background-color: #f88;
  color: #000;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.green {
  background-color: #aaeeaa;
}
.blue {
  background-color: #aaaaee;
}
.yellow-plus {
  background-color: #ffff44;
}
.yellow {
  background-color: #eeeeaa;
}
.white {
  background-color: #ccc;
}
.red {
  background-color: #ee88aa;
}
.orange {
  background-color: #eeaa88;
}
